* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#checkbox-btn {
  display: none;
}

label {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

label::before {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: skyblue;
}

label div {
  position: relative;
  height: 12px;
  background-color: #fff;
  margin-bottom: 12px;
  border-radius: 5px;

  transition: transform 400ms ease-in-out;
}

#checkbox-btn:checked + label::before {
  background-color: deepskyblue;
}


/* CSS 형제 선택자 + */
#checkbox-btn:checked + label div:first-child{
  transform: translateY(24px) rotate(135deg);
}

#checkbox-btn:checked + label div:nth-child(2){
  transform: rotate(-135deg);
}

#checkbox-btn:checked + label div:last-child{
  transform: scale(0);
}

